header {
  background: #fcfcfc;
}

header h1 {
  width: 100%;
  padding: 50px;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  transition: 1s;
  cursor: pointer;
}

.namorada:hover {
  transition: 2s;
  font-size: 45px;
  text-transform: uppercase;
  text-decoration: underline;
}